@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #494949;
}

.cabecalho{
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu{
    height: 50px;
    background: #11af03;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    color: #ffffff;
    transition: 0.5s;
    padding-right: 20px;
}

.menu a:hover{
    color: #202020;
}

.main{
    width: 99%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.45));
    background-color:#323232;
}

.primeira-secao{
    max-width: 99%;
    height: 700px;
    margin: auto;
    
}

.primeira-secao::before, .primeira-secao::after{
    content: '';
    display: table;
    clear: both;
}

.primeira-secao-conteudo{
    color: #ffffff;
    width: 40%;
    float: left;
}

.primeira-secao-conteudo h1{
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
}

.primeira-secao-conteudo p{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-top: 40px;
}

.imagem{
    width: 40%;
    float: left;

}

.imagem img{
    width: 250px;
    border-radius: 50%;
    border: 10px solid rgb(7, 83, 0);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.habilidades{
    max-width: 90%;
    background: rgb(68, 68, 68);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1));
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
}
.habilidades::before, .habilidades::after{
    content: '';
    display: table;
    clear: both;
}

.habilidades h2{
    font-family: 'Heebo', sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px;
}


.barra-progresso{
    width: 400px;
    margin: 20px;
    align-items: center;
    float: left;
    border: 1px solid black;
}


.barra-progresso label{
    font-family: 'Heebo', sans-serif;
    color: white;
    text-align: center;
}

.barra-vazia{
    width: 300px;
    height: 30px;
    background: rgb(121, 120, 120);
    border-radius: 20px;
}

.porcentagem{
    height: 30px;
    background-color: green;
    border-radius: 20px;
}

#html{
    width: 220px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 5px;
}


#css{
    width: 220px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 5px;
}

#js{
    width: 120px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 5px;
}

#java{
    width: 120px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 5px;
}       


.informacoes{
    width: 300px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    display: table;
}







@media (min-width:0px) and (max-width:429px){
    .primeira-secao-conteudo{
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }

    .imagem{
        width: 250px;
        margin-left: 5px ;
        margin-top:30px;
    }

    .barra-progresso{
        margin-left: 0;
        width: 300px;
    }

}

@media (min-width:430px) and (max-width:750px){
    .primeira-secao-conteudo{
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
    .imagem{
        width: 250px;
        margin-left: 80px ;
        margin-top: 30px;
    }

}

@media (min-width:751px){

    .primeira-secao-conteudo{
        width: 50%;
        margin-left: 10px;
        margin-top: 140px;
       
    }
    .imagem{
        width: 250px;
        margin-left: 100px ;
        margin-top: 130px;
    }

    .barra-progresso{
        margin-left: 0;
        width: 400px;
    }

    .informacoes{
        margin: 10px;
        width: 50%;
    }
}
