@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #323232;
}

.retangulo{
    width: 100%;
    height: 19px;
    background-color: #075200;
}
.retangulo2{
    width: 100%;
    height: 19px;
    background-color: #0d8502;
}

.cabecalho{
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu{
    height: 50px;
    background: #11af03;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    color: #ffffff;
    transition: 0.5s;
}

.menu a:hover{
    color: #202020;
}

.primeira-secao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%px;
    height: 500px;
    background-color: #535353; 
    background-image: url("img/background.png");
}

.primeira-secao-conteudo{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.primeira-secao-conteudo h1{
    width: 506px;
    height: 105px;
    left: 148px;
    top: 228px;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
}

.primeira-secao-conteudo p{
    width: 497px;
    height: 66px;
    left: 148px;
    top: 373px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-top: 40px;
}

.primeira-secao-conteudo button:hover{
    background: #535353;
    color: #000000;
}

.imagem{
    width: 300px;
    height: 300px;
    margin-left: 80px;

}

.imagem img{
    width: 300px;
    border-radius: 50%;
    border: 10px solid rgb(7, 83, 0);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.graficos{
    width: 100%;
    height: 340px;
    background: #323232;
}

.graficos h1{
    color: #ffffff;
    width: 1152px;
    height: 49px;
    left: 0px;
    top: 611px;
    margin-left: 100px;
    padding-top: 20px;

    font-family: Heebo;
    font-style: normal;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
}

.progressos{
    width: 90%;
    height: 300px;
    margin-left: 75px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background: #0d5506;
    border-radius: 10px;
}

.lado-A{
    width: 40%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-bottom: 10px;
    border: 1px solid black;
    
}

.linha{
    width: 1px;
    height: 200px;
    background: #FFFFFF;
    margin-top: 25px;
    box-shadow: 2px 0px 5px #000;
    -webkit-box-shadow:-1px -1px 10px #000;
    
}

.lado-B{
    width: 40%;
    margin-top: 25px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.barra{
    height: 30px;
    width: 324px;
    margin-left: 50px;
}

.espaco-barra{
    display:block;
    margin-left: 10px;
}

.espaco-barra p{
    text-align: center;
}

.espaco-barra img{
    height: 40px;
    padding-top: 2px;
    margin-bottom: 2px;
}


